<mat-card class="search-bar">
  <mat-form-field appearance="outline">
    <mat-label>Rechercher une tache</mat-label>
    <input matInput [(ngModel)]="searchText" (keyup)="filterTasks()">

  </mat-form-field>
</mat-card>
<div class="task-columns">
  <!--en ATTENTE-->
  <div class="task-column">
    <h3>En attente</h3>
    <div cdkDropList cdkDropListData="enAttenteTasks" (cdkDropListDropped)="drop($event,'EN_ATTENTE')">
      <mat-card *ngFor="let task of enAttenteTasks" cdkDrag>
        <app-task-item [task]="task"></app-task-item>
      </mat-card>
    </div>
  </div>
  <!--en Cours-->
  <div class="task-column">
    <h3>En Cours</h3>
    <div cdkDropList cdkDropListData="enCoursTasks" (cdkDropListDropped)="drop($event,'EN_COURS')">
      <mat-card *ngFor="let task of enCoursTasks" cdkDrag>
        <app-task-item [task]="task"></app-task-item>
      </mat-card>
    </div>
  </div>

 <!--Faite-->
 <div class="task-column">
  <h3>Faite</h3>
  <div cdkDropList cdkDropListData="faiteTasks" (cdkDropListDropped)="drop($event,'FAITE')">
    <mat-card *ngFor="let task of faiteTasks" cdkDrag>
      <app-task-item [task]="task"></app-task-item>
    </mat-card>
  </div>
</div>

</div>
